**/bin/
**/obj/
**/.vs/
**/.vscode/
**/.history/
**/graphify-out/
**/publish/
.env
.env.*
!.env.example
appsettings.Development.json
appsettings.*.local.json
cloudflared.exe
*.user
*.suo
import-file-example/
Dockerfile*
docker-compose*
README.md
wwwroot/questions/
wwwroot/profile/
wwwroot/banner/